[project]
	description = The Time Machine for your Marty McFiles..
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Durga Swaroop Perla (durgaswaroop)
[access "refs/for/refs/*"]
	read = group user/Durga Swaroop Perla (durgaswaroop)
	push = group user/Durga Swaroop Perla (durgaswaroop)
	label-Code-Review = -2..+2 group user/Durga Swaroop Perla (durgaswaroop)
	label-Verified = -1..+1 group user/Durga Swaroop Perla (durgaswaroop)
	rebase = group user/Durga Swaroop Perla (durgaswaroop)
	removeReviewer = group user/Durga Swaroop Perla (durgaswaroop)
	submit = group user/Durga Swaroop Perla (durgaswaroop)
[access "refs/heads/*"]
	read = group user/Durga Swaroop Perla (durgaswaroop)
	create = group user/Durga Swaroop Perla (durgaswaroop)
	push = +force group user/Durga Swaroop Perla (durgaswaroop)
	pushMerge = group user/Durga Swaroop Perla (durgaswaroop)
[access "refs/tags/*"]
	push = group user/Durga Swaroop Perla (durgaswaroop)
	push = +force group user/Durga Swaroop Perla (durgaswaroop)
